<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      <p>
        <table>
          <tr><td>Mobile: </td></tr>
          <tr><td>647-671-0000</td></tr>
          <tr><td></td></tr>
          <tr><td>Email:</td></tr>
          <tr><td>ctian5@my.centennialcollege.ca</td></tr>
      
        </table>
      </p>

    </div>
  </main>
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>